@{
    ViewData["Title"] = "Home Page";
}
<style>
    .lineright {
        border-right: 1px solid #333;
    }
</style>
<div class="text-center">
    <h1 class="display-1">Homebody Fitness</h1><br />
    <div style="border: 5px ridge black"><br/>
    <h3>Why Homebody?</h3><br/>
    <h5>At Homebody Fitness, we believe in personalized fitness training that suits your unique needs. Our highly trained instructors are here to guide and motivate you towards your fitness goals. With our one-on-one sessions, you'll receive personalized corrections that ensure you're performing exercises correctly, avoiding injury and getting the most out of your workouts. Our approach is based on science-backed methods, so you can trust that you're getting the best possible training.<br /><br /> Choose Homebody Fitness and take the first step towards achieving your fitness goals! </h5>
    
    <br /><br />
    </div><br/>
    <h1 class="display-4">Membership Options</h1><br /><br />
</div>



<div class="container">
    <div class="row text-center">
        <div class="col lineright">
            <h2>Unlimited</h2><br/>
            <p>Access to unlimited classes.</p><br />
            <p><b>$300</b></p>
        </div>
        <div class="col lineright">
            <h2>15-Day</h2><br/>
            <p>Access to 15 classes.</p><br />
            <p><b>$200</b></p>
        </div>
        <div class="col lineright">
            <h2>10-Day</h2><br/>
            <p>Access to 10 classes.</p><br />
            <p><b>$150</b></p>
        </div>
        <div class="col">
            <h2>8-Day</h2><br/>
            <p>Access to 8 classes.</p><br />
            <p><b>$99</b></p>
        </div>
    </div>
    

</div>
<br/><br/>