

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <div id="calendar"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script>




        document.addEventListener('DOMContentLoaded', function () {



            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                selectable: true,
                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    //right: 'timeGridWeek'
                },
                
                initialDate: '2023-04-05',
                businessHours: true,
                editable: true,

                events: [
                    {
                        groupId: 'essenstial1',
                        daysOfWeek: ['1', '2', '3', '4', '5'],
                        title: "Essentials",
                        startTime: "10:30:00",
                        endTime: "11:20:00"
                        
                    },
                    {
                        groupId: 'fullBody1',
                        daysOfWeek: ['1', '2', '3', '4', '5'],
                        title: "Full Body",
                        startTime: "7:30:00",
                        endTime: "8:20:00"
                    },

                    {
                        groupId: 'fullBody2',
                        daysOfWeek: ['1', '2', '3', '4', '5'],
                        title: "Full Body",
                        startTime: "9:30:00",
                        endTime: "10:20:00"
                    },
                    {
                        groupId: 'fullBody3',
                        daysOfWeek: ['1', '2', '3', '4', '5'],
                        title: "Full Body",
                        startTime: "11:30:00",
                        endTime: "12:20:00"
                    },
                    {
                        groupId: 'essenstial2',
                        daysOfWeek: ['1', '2', '3', '4', '5'],
                        title: "Essentials",
                        startTime: "12:30:00",
                        endTime: "13:20:00"
                    },
                    {
                        groupId: 'fullBody4',
                        daysOfWeek: ['1', '2', '3', '4', '5'],
                        title: "Full Body",
                        startTime: "17:30:00",
                        endTime: "18:20:00"
                    },
                    {
                        groupId: 'fullBody3',
                        daysOfWeek: ['1', '2', '3', '4', '5'],
                        title: "Essentials",
                        startTime: "18:30:00p",
                        endTime: "19:20:00p"
                    },
                    {
                        groupId: 'fullBody1',
                        daysOfWeek: ['1', '2', '3', '4', '5'],
                        title: "Full Body",
                        startTime: "8:30:00",
                        endTime: "9:20:00"
                    },


                ],

              

                eventClick: function (info) {
                    var eventTitle = info.event.title;
                    var eventStart = info.event.start;
                    var eventEnd = info.event.end;






                    $.ajax({
                        type: "POST",
                        url: "/scheduler/JoinClass",
                        data: {
                            title: eventTitle,
                            start: eventStart
                        },
                        complete: function (data) {
                            if (data.responseJSON.message != "") {
                                window.alert(data.responseJSON.message);
                            }
                            else {
                                window.location.href = data.responseJSON.redirectToUrl;
                            }
                        }
                    });







                }






            });

            calendar.render();
        });

    </script>
</head>
<body>
    <div id='calendar'></div>
</body>
</html>